streamlit
pymupdf
joblib 
scikit-learn 
pandas 
matplotlib 
seaborn 
folium 
xgboost 
numpy 
plotly 
ipywidgets 
langchain 
langchain-google-genai 
google-generativeai 
langchain-community 
faiss_cpu 
scikit-learn
pandas
